@font-face {
    font-family: 'CustomFont';
    src: url('fonts/Chivo.ttf') format('truetype');
  }

html {
    overflow: hidden;
    height: 100%;
    overflow-x: hidden!important
}

body {
    height: 100%;
    overflow: scroll;
}

#body {
    font-family: 'CustomFont', sans-serif;
    margin: 0;
    padding: 0;
}
  
header {
    text-align: center;
    padding: 100px 0;
    background-color: #000000;
}
  
section {
    padding: 50px 0;
    text-align: center;
    background-color: #000000;
}
  
section h2 {
    font-size: 36px;
    color: white;
}

section h3 {
    font-size: 30px;
    color: white;
}

p {
    color: white;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
  
input[type=email] {
    text-align: center;
    width: 250px;
    background-color: #000000;
    box-sizing: border-box;
    border: 3px solid #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=email]:focus {
    text-align: center;
    border: 3px solid #555;
    color: #fff;
  }

  button[type=submit] {
    width: 100px;
    background-color: #000000;
    color: #fff;
    box-sizing: border-box;
    border: 3px solid #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  button[type=submit]:focus {
    border: 3px solid #555;
    color: #fff;
  }



